@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap');

/* Reset CSS */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1,h2,h3 {
    color: rgb(5, 50, 60);
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
    font-weight: 500;
    text-align: left;
}

body {
    font-family: ;
}